<mat-toolbar>
    <span><img src="/assets/images/logo.png" height="42" width="169"></span>
    <div class="menu">
        <a mat-button>Startseite</a>
        <a mat-button>Über mich</a>
        <a mat-button>Portfolio</a>
        <a mat-button>Kontakt</a>
    </div>
    <div class="language">
        <button mat-icon-button [mat-menu-trigger-for]="languageMenu" aria-label="Sprache">
            <mat-icon class="btn-language fa fa-language" aria-hidden="true"></mat-icon>
        </button>
        <mat-menu #languageMenu>
            <menu mat-menu-item>Deutsch</menu>
            <menu mat-menu-item>Englisch</menu>
        </mat-menu>
    </div>

</mat-toolbar>

<div class="jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

    <div class="tv-c" fxFlex fxFlex.gt-sm="50%">
        <h1>Kevin Mirzaian</h1>
        <p>
            <a href="https://github.com/razamtv">
                <img src="https://readme-typing-svg.herokuapp.com?color=A70000FF&lines=IT+Specialist+for+Application+Development;Web+Developer;Graphic%20Designer;Always%20learning%20new%20things&center=true&width=500&height=50">
            </a>
        </p>
        <div>
            <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/kevin-mirzaian-9b8798231/">
                <i class="fa fa-linkedin-square fa-lg"></i>
            </a>
            <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/justkev96/">
                <i class="fa fa-instagram fa-lg"></i>
            </a>
            <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/kevin.mirzaian">
                <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a mat-icon-button class="btn-github" href="https://github.com/Mirzaian/Profile">
                <i class="fa fa-github fa-lg"></i>
            </a>
            <a mat-icon-button class="btn-mail" href="mailto:kevin@mirzaian.de">
                <i class="fa fa-envelope-o fa-lg"></i>
            </a>
        </div>
    </div>
</div>