$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #212121;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light ;
    color: floralwhite;
    min-height: 150px;
}

.mat-button {
    color: #ffffff;
    margin-right: 10px;
    background-color: #3a3a3a;
}

.menu {
    margin-left: 50px;
    width: 100%;
}

.tv-c {
    text-align: center;
}

.btn-language {
    float: right;
    font-size: 24px;
    color: white;
}

.btn-facebook {
    color: #fff !important;

    &:hover {
        background-color: #3b5998 !important;
    }
}

.btn-github {
    color: #fff !important;

    &:hover {
        background-color: #4a4a4a !important;
    }
}

.btn-linkedin {
    color: #fff !important;

    &:hover {
        background-color: #007bb6 !important;
    }
}

.btn-instagram {
    color: #fff !important;

    &:hover {
        background-color: #d6249f !important;
    }
}

.btn-mail {
    color: #fff !important;

    &:hover {
        background-color: #512DA8 !important;
    }
}