<h1>{{ 'experience.title' | translate }}</h1>
<div class="content">
    <h2>{{ 'experience.education' | translate }}</h2>
    <div fxLayout="row wrap" fxLayoutGap="25px grid" class="animate__animated animate__backInDown">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" *ngFor="let card of education">
            <mat-card class="mat-elevation-z0">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon fontSet="fa" fontIcon="{{ card.icon }}"></mat-icon>
                    </div>
                    <mat-card-subtitle>{{ card.timeline }}</mat-card-subtitle>
                    <mat-card-title>{{ card.title }}</mat-card-title>
                    <mat-card-subtitle>{{ card.company }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <section class="section">
        <h2>{{ 'experience.work' | translate }}</h2>
        <div fxLayout="row wrap" fxLayoutGap="25px grid" class="animate__animated animate__backInUp">
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" *ngFor="let card of work">
                <mat-card class="mat-elevation-z0">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon fontSet="fa" fontIcon="{{ card.icon }}"></mat-icon>
                        </div>
                        <mat-card-subtitle>{{ card.timeline }}</mat-card-subtitle>
                        <mat-card-title>{{ card.title }}</mat-card-title>
                        <mat-card-subtitle>{{ card.company }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    <section class="section">
        <h2>Skills</h2>
        <div class="angular" fxLayout="row wrap" fxLayoutGap="100px grid">
            <div fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="100%" fxFlex.md="50%" *ngFor="let skill of skills">
                <h2>
                    <img src="{{ skill.img }}" alt="{{ skill.name }}">Angular
                </h2>
                <mat-progress-bar value="{{ skill.value }}"></mat-progress-bar>
            </div>
        </div>
    </section>
    <section class="section">
        <h2>Languages</h2>
        <div class="lang-icon">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1920px-Flag_of_Germany.svg.png"
                alt="germany">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_Armenia.svg/270px-Flag_of_Armenia.svg.png"
                alt="armenia">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Flag_of_the_United_Kingdom.svg" alt="english">
        </div>
    </section>
</div>