<h1>{{ 'home.title' | translate }}</h1>
<div class="home-card">
    <mat-card class="mat-elevation-z0">
        <div class="avatar">
            <img src="assets/images/avatar.jpg" alt="avatar">
        </div>
        <mat-card-title>Kevin Mirzaian</mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <div class="icon-row">
            <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/kevin-mirzaian-9b8798231/" target="_blank">
                <mat-icon fontSet="fa" fontIcon="fa-linkedin"></mat-icon>
            </a>
            <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/kevin.mirzaian" target="_blank">
                <mat-icon fontSet="fa" fontIcon="fa-facebook"></mat-icon>
            </a>
            <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/justkev96/" target="_blank">
                <mat-icon fontSet="fa" fontIcon="fa-instagram"></mat-icon>
            </a>
            <a mat-icon-button class="btn-github" href="https://github.com/Mirzaian/Profile" target="_blank">
                <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
            </a>
        </div>
    </mat-card>
</div>