<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">M</button>
        <div class="logo-text" *ngIf="collapsed">irzaian</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fa fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of navItems">
            <a class="sidenav-nav-link" [routerLink]="[item.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="sidenav-link-icon" [class]="item.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ item.label }}</span>
            </a>
        </li>
        <div class="btn-language">
            <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                <mat-icon fontSet="fa" fontIcon="fa-language"></mat-icon>
            </button>
            <mat-menu #languageMenu>
                <button mat-menu-item (click)="useLanguage('en')">Englisch</button>
                <button mat-menu-item (click)="useLanguage('de')">Deutsch</button>
            </mat-menu>
        </div>
        <div class="copyright-container">
            <div class="copyright-text">© 2022 Mirzaian
            </div>
        </div>
    </ul>
</div>